name: Comrade Shop Build & Notify

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build Release APK
        run: bash ./gradlew assembleRelease

      # Since you're manually uploading the APK to Drive for now, 
      # we just tell the website that the version number has changed.
      - name: Update Website Version Manifest
        run: |
          curl "https://comradearchives.hstn.me/comrade_shop/update_version.php?key=${{ secrets.WEBSITE_UPDATE_KEY }}&code=${{ github.run_number }}&name=${{ github.ref_name }}"
