name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        run: |
          gradle wrapper --gradle-version 8.2
          chmod +x gradlew

      - name: Decode Keystore
        run: echo "${{ secrets.KEY_STORE_FILE }}" | base64 -d > app/comrade.jks

      - name: Build Signed APK
        run: ./gradlew assembleRelease
        env:
          KEY_STORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}

      - name: Upload Signed APK
        uses: actions/upload-artifact@v4
        with:
          name: ComradeShop-Signed-APK
          path: app/build/outputs/apk/release/app-release.apk
